@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #ebedf4ff;
  --text-color: #1a121dff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #1a121dff;
    --text-color: #ebedf4ff;
  }
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
